<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>BookStore - Checkout</title>
</head>
<body>
<nav>
  <ul>
    <li><a th:href="@{/}">Home</a></li>
  </ul>
</nav>
<h1>Checkout</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
  </tr>
  <tr th:each="book : ${shoppingCart}">
    <td th:text="${book.title}">Title</td>
    <td th:text="${book.author}">Author</td>
    <td th:text="${book.price}">Price</td>
  </tr>
</table>
</body>
</html>
